/* COLORS! */
/* BACKGROUND */
body { background-color: #91cade }
/* HIGHLIGHT */
#output, #messageBox, #messageSend { background-color: white; outline: none }
#output::-webkit-scrollbar-thumb {background-color: rgba(191, 225, 234, 0.5); } /* this is #bfe1ea in rgba form, to get the alpha*/

#output, #tabBar
{
	width: 90%;
	margin: auto;
  padding: 0;
	display: block;
}

#output
{
	height: 90%;
	overflow-y: scroll;
  margin-top: 0;
  margin-bottom: 0;
}
#output::-webkit-scrollbar {
  width: 12px;
}
 
#output::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
#output::-webkit-scrollbar-thumb {
  border-radius: 50px;
}



#input
{
	width: 90%;
	margin: auto;
	display: block;
}
#messageBox
{
	width: 93%;
}
#messageSend
{
	width: 6%;
}