
#tabBar 
{
  margin-top:0;
  margin-bottom:0;
}
#tabBar a
{
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  
  color: black;
  
  border-radius: 5px 5px 0 0;
  margin-right: 2px;
	display: block;
  float: left;
  
  overflow: hidden;
  text-overflow: ellipsis;
  
  
  background-color: #bfe1ea;
}

.tab ul
{
  width: 12%;
  height: 86%;
  
  float: left;
  
  margin: 0;
  padding-left: 5px;
  
  list-style: none;
  overflow: hidden;
  
  position: absolute;
  
  background-color: #bfe1ea;
}
.tab ul a
{
  text-decoration: none;
  border-radius: 5px 0 0 5px;
  display: block;
  text-overflow: ellipsis;
}

.tab
{
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.tab:select
{
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.subtab
{
  height: 100%;
  width: 87%;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1;
  float: right;
}

.subtab:select
{
  z-index: 2;
}